.table img{
    width:150px;
    
}

.table input{
    width:20px;
}

.Emptycartimg{
    width:500px;
    height:500px;
 
   border: none;

}

.container-cart{
    width:200px;
 margin-left:600px;
 border:none;
 
}

.cartsentence{
    margin-left: 120px;
    font-size: large;


}
.Emptycart-button{
    margin-left: 190px;

}

.card-table{
    display:flex;
   gap:80px;
   padding-left: 120px;
}

 .totalproduct-page  td{
    padding:10px;
    gap:100px;
 }
 
.inc,.dec{
    background-color: white;
   
    border-radius: 50%;
   
}


    input{
      padding:3px;
      width:7px;
    }
 .totalproduct-page table th{
    padding:10px;
    color:#8080808f;
 }
 .totalproduct-page table{
    border:1px solid rgba(0, 0, 0, 0.29);

    width:400px;
    height:200px;
    font-family:  Roboto,Arial,sans-serif;
   
    box-shadow: 0 4px 6px rgba(0.368, 0.368, 0.368, 0.368);

    position:sticky;
    top:0;
 }

 .removebutton{
    cursor:pointer;
 }

 .removebutton:hover{
    color:#007185;
 }