



  <div class="card-table">

    <div class="cart-products">

      <table class="table table-responsive">
         
        
        <tbody>
          <tr *ngFor="let item of  this.buyproduct">
  
      
         <td style="width:200px;"><img src="{{item.image}}" alt=""> <br> 
      <strong>    {{item.model}}
           {{item.detailmodel}}

          </strong> 
          </td>

      

        

         <!-- <td>{{item.description}}</td>
         <td>₹{{item.price}}</td>


         <td>{{item.quantity * item.price}}</td>

        </tr> -->


        </tbody>

      </table>
    

    </div>








<table>

<!--   
        <tr *ngFor="let item of grandtotal" >
          <td  colspan="4"></td>
          <td> <strong>GrandTotal:{{item.total}}</strong> </td>

        
        </tr> -->

      
        
      </table>

      
    <div class="totalproduct-page" >

      <table class="totalproduct-pagetable">

        <thead>
          <th>Shipping Address</th>
        </thead>
<hr>
        <tr *ngIf="selectedAddress">

          <td>{{selectedAddress.username}} <br>
          {{selectedAddress.address}}
          {{selectedAddress.city}}
          {{selectedAddress.state}}
          {{selectedAddress.pincode}}
        
        </td>
        </tr>




        <thead>
          <th>Price details</th>
        </thead>
<hr>
<div *ngIf="buynow==false">


  <div *ngFor="let item of this.grandtotal">
        <tr>
          
          <td> Price(₹({{this.productlength}})item)  <td>
          <td>₹ {{item.itemprice}}</td>

        </tr>

        <tr>
          <td> Discount <td>

          <td> -₹{{item.discount}}</td>

        </tr>

        <tr>
          <td>Delivery Charges  <td>

          <td></td>

        </tr>
        <hr>

        <tr >
          <td > <strong>Total Payable </strong><td>

          <td> ₹{{item.total}}</td>

        </tr>
        <strong>  You have saved₹{{item.discount}}on this Order</strong>

        </div>

</div>
        <div *ngIf="buynow!==false" >

          <div *ngFor="let item of  this.buyproduct">
          <tr>
            <td> Price(₹(1)item)  <td>
  
            <td>₹ {{item.discount}}</td>
  
          </tr>
  
          <tr>
            <td> Discount <td>
  
            <td> -₹{{ item.discount - item.price}}</td>
  
          </tr>
  
          <tr>
            <td>Delivery Charges  <td>
  
            <td></td>
  
          </tr>
          <hr>
  
          <tr >
            <td > <strong>Total Payable </strong><td>
  
            <td> ₹{{item.price}}</td>
  
          </tr>
          <strong>  You have saved₹{{item.price-item.discount}}on this Order</strong>
  
          </div>

         
          </div>
         
      </table>
      <br> 
      <div class="btn-stick">
        <button (click)="confirmproduct()" class="confirm-buttton">Confirm</button>
      </div>
      
      <br>

    </div>
    </div>
 
