
  
  
.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    justify-content: center;
    ;
  
    

  }
  
  .nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap:110px;

    
    
  }
  hr{
    color:black;
  }
 
  .nav-link {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
  }
  
  .circle {
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 12px;
    
  }
  
  .nav-link.active .circle {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
  }
  
  @media (max-width: 768px) {
    .nav {
      flex-direction: column;
    }
  
    .nav-item {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  

.checkout-page {
    padding: 20px;
    background-color: #f7f7f7;
  
  }
  
  h2 {
    font-weight: bold;
    margin-top: 20px;
  }
  
 
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  

  
