body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  h1 {
    color: #333;
    font-size: 24px;
  }
  .order-details {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
  }
  .order-details p {
    margin: 0;
  }
  .order-summary {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
  }
  .order-summary table {
    width: 100%;
  }
  .order-summary th,
  .order-summary td {
    padding: 10px;
    text-align: left;
  }
  .order-summary th {
    background-color: #f2f2f2;
  }
  .order-summary td:nth-child(2) {
    text-align: right;
  }
  .thank-you {
    margin-top: 20px;
    text-align: center;
  }

  .table img{
    width:200px;
    
}