.card-container{
    background-color: whitesmoke;
    border:white;
    display:flex;
   
    
}



.card{
    
    

    display:flex;
    flex-direction: column;
    padding:40px;

    cursor: pointer;
    
}

.product-container img{
    width:10%;
    height:20%;
}

.product-container{
    display: flex;
    border:2px solid whitesmoke;
    box-shadow: 0 4px 6px rgba(0.368, 0.368, 0.368, 0.368);
    padding: 10px;
    margin: 8px;
    width:100%;
    

}

.product-container:hover{
    box-shadow: 0 4px 6px rgba(0.568, 0.568, 0.568, 0.568);;
}

.product-model{
    padding-left: 10%;
}

.product-price{
    padding-left:10%;
}

.order-status{
    padding-left:20%;
}

a{
    text-decoration: none;
    color:black
    
}

  