<div class="card-container">

  <div class="card">
<div class="drop-display">
<ng-container *ngFor="let item of this.order">

  
  <a routerLink="/{{item.emailid}}/cancelrequest">
  <div class="product-container">
    <img src="{{item.image}}" alt="">



  <div class="product-model">
{{item.model}} 
<div style="padding-top:20px;color:gray">
{{item.description1}}
</div>

</div>

<div class="product-price">
  {{item.total}}
</div>

<div class="order-status">

  {{item.Orderstatus}}

</div>
</div>

<!-- <div class="details-drop">

  <Strong>Shipping Adress</Strong>
 <li>{{item.Name}},</li> 
 <li>{{item.Address}}</li> 
</div> -->
</a>
</ng-container>

</div>
  </div>



</div>